*{
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    }
.cabeca {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    
   


}
#t:hover{
    color:burlywood;
    font-size: 40px;

    
   
}
a {
    text-decoration:none;
    color: bisque;

}
.cat a:hover {
    color: black;
}


.cat {
display: flex;
align-items: center;
justify-content: space-evenly;
background-color: cadetblue;
height: 100px;
width: 50%; 





}

#dog {
width: 90px;
height: 90px;
border-radius: 120px;
margin: 40px;

}

body{
    background-color: burlywood;
}
.colunas{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    list-style: none;
}

.catalago{
    height: 150px;
    width: 150px;
    border-radius: 40px;
    margin-top: 20px;
}

@media only screen and (max-width:700px)
{

    .colunas {
        
        display: block;
        margin-left: 25%;
    }
    
    
}