*{
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    }

body{
        background-color:lightsteelblue;
    }
    
.cabeca {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
}

.cabeca a {
    text-decoration:none;
    color: white;
}

#t{
    color:green;
}

#t:hover{
    color:rgb(96, 142, 202);
    font-size: 40px;   
}

#catcabecalho {
width: 90px;
height: 90px;
border-radius: 120px;
margin: 40px;
}

.cabecalhonav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: cadetblue;
    height: 100px;
    width: 50%;    
}

.cabecalhonav a:hover {
        color: aquamarine;
}

.colunas{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    list-style: none;
}

.fotopet{
    height: 150px;
    width: 150px;
    border-radius: 40px;
    margin-top: 20px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: cadetblue;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    
}

@media only screen and (max-width:700px)
{

    .colunas {
        display: block;
        margin-left:40%;
    }

    .catalago{
        height: 200px;
        width: 200px;
        border-radius: 40px;
        margin-top: 20px;
    }
     
}